.awesome{
    margin-top: 0;
    padding-top: 100px;
}


.awesome_title{  
    margin-top: 100px;  
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-align: center; 
}

.awesome_line{    
    margin: auto;
    margin-top: 25px;
    width: 64px;
    height: 2px;   
    border: 1px solid #D98943;
}
.awesome_text{
    margin-top: 30px;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

.row{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.row-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.row-item_icon__border{   
    display: flex;
    width: 70px;
    height: 70px;
    mix-blend-mode: normal;
    border: 1px solid #D98943;
    border-radius: 50%;
    align-items: center;
    justify-content: center;    
}

.row-item_icon__img{   
    width: 23px;
    height: 30px;
}

.row-item__title{
    margin-top: 30px;
    width: 189px;
    height: 29px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    text-align: center;
}

.row-item__text{
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding-left: 1px;
    padding-right: 1px;
}