.awesome{
    margin-top: 0;
    padding-top: 6.25rem;
    padding-bottom: 5.5625rem;   
}

.awesome_text{
    margin-top: 30px;    
}

.row{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.row_wrapper{
    display: flex;
    margin: 0 -15px;
    margin-top: 36px;
    
}

.row-item{
    width: 350px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   }

.row-item_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
    width: 4.375rem;
    height: 4.375rem;
    border: 1px solid #D98943;
    border-radius: 50%;
    color: #D98943;
    font-size: 1.3125rem;
    text-align: center;
}

.row-item_title{
    margin-top: 30px;    
    line-height: 1.6875rem;
    color: #333333;
    flex: 1 0 auto;
}

.row-item_text{
    margin-top: 16px;
    margin-bottom: 109px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #000000;
    flex: 1 0 auto;
}


@media(max-width:768px){
    .awesome{
       padding-bottom: 2rem;   
    }
}