.contact{
    height: 700px;
    margin-top: 95px;   
}
.contact_text{
    margin-top: 34px;
}

.form-wrapper{
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputs-wrapper{
    max-width: 478px;
}

.form-contact_item__lbl{
    display: block;
    margin-top: 32px;
  
}

.form-contact_item__input{
    display: block;
    width: 100%;
    line-height: 20px;
    margin-top: 12px;
}

.form-contact_textarea{
display: block;
max-width: 478px;
}

.form-contact_textarea__msg{
    display: block;
    width: 100%;
    resize: horizontal;
}

.contact_button{
    display: block;
    margin: 0 auto;
    margin-top: 68px;
    display: block;
    width: 186px;
    height: 42px;
    padding: 11px 31px;   
    background-color: #EC7979;
}

