.header{
   margin-top: 70px;
   background-image: url(/img/background_header.png);
   height: 600px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 108px;    
}

.header_mainwrapper
{
    display: flex;
    justify-content: space-between;
}

.header-left{
    vertical-align: center;
}

.header_wrapper{   
    display: flex;
    max-width: 544px;     
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.header_logo{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
      
}

.header_logo::after{
    content: "it";
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #EC7979;
    text-transform: uppercase;
}

.header_title{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;     
    margin-top: 32px;
}

.header_title::after{
    content: "";
    width: 64px;
    height: 1px;
    background-color: #FFFFFF;
    display: block;
    margin-top: 32px;
}

.header_text{
    margin-top: 39px;
    color: #FFFFFF;
}

.header_link{
    margin-top: 39px;
    color: #FFFFFF;
}

.header-form{
    width: 370px;   
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;  
    align-items: center;
}

.header-form_name{   
    display: block;   
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    align-items: center;
    color: #333333;
}
.header-form_namered{
    color: #EC7979;
}

.form-content{   
    padding-bottom: 62px;  
}

.form_item{
    margin-top: 19px;
}

.form_item:first-child{
    margin-top: 44px;
}

.form_item__lbl{
    display: block;
    margin-top: 0;
    margin-left: 59px;   
   
}

.form_item__input{
    display: block;
    margin-top: 0;
    margin-left: 59px;
   
    width: 70%;
}

.header-form_input:active{
    border-bottom: 1px solid #BDBDBD;   
    outline: none;
}
.header-form_input:focus{
    border-bottom: 1px solid #BDBDBD;   
    outline: none;
}

.form-btn{
    display: block;
    width: 100%;    
    background-color: #EC7979;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    line-height: 57px;
    border: 0;
    border-radius: 0 0 7px 7px;
    transition: 0.3s;
}

.form-btn:hover{
    cursor: pointer;
    background-color: #d65656;
    color: #eccfcf;

}
